*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}
/* header */
header{
    width: 100%;
    height: 95vh;
    background-color: rgb(237, 118, 211);
}
/* naver */
header nav{
    width:100%;
    height: 100px;
    background-color: #FFACEE;
    display: flex;
    flex-flow: row;
    align-items: center;
}
header nav#nav-principal div#logotipo{
        width: 100px;
        height: 100px;
        margin-left: 5rem;
    }
header nav#nav-principal div#logotipo img{
        max-width: 150%;
        max-height: 100%;
    }

    /* ____MENU_____ */

header nav#nav-principal ul#icone-menu{
    /* display: none; */

}
header nav#nav-principal ul#icone-menu li{
    list-style: none;
}
header nav#nav-principal ul#icone-menu li ion-icon{
    margin-right: 2rem;
    font-size: 50px;
    color: #fff;
}
header nav#nav-principal ul#menu-principal{
    margin-right: 3rem; 
    display:flex;
    flex-flow: row;
    color:#fff;

}
header nav#nav-principal ul#menu-principal li{
    list-style: none;
    margin-right: 2rem;
}

